img {
    margin-top: auto;
    padding: 10px;
    border-radius: 20px ;
    width: 200px;
 
}
header
{
    color: rgb(100, 165, 36);
    
}

div {
   
    width: 00px;
    height: 200px;
    padding: 110px;
    margin: 0;
    display: block;
    margin-top: 11px;
    color: rgb(56, 55, 55);
    width:350 ;
    height: 350;
 
}
body
{
    text-align: center;
}